# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# FAISS index and data
faiss_index/

# Streamlit cache
.streamlit/

# Ollama downloads
.ollama/

# Logs
*.log
